/*===========================
    1. COMMON css 
===========================*/

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800");
body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #121212;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus, a:hover {
  text-decoration: none;
}

i, span, a {
  display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #121212;
  margin: 0px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #121212;
  margin: 0px;
}

.bg_cover {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}


/*===== All Button Style =====*/

.main-btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid transparent;
  padding: 0 32px;
  font-size: 16px;
  line-height: 48px;
  color: #0067f4;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  position: relative;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .main-btn {
    font-size: 18px;
    padding: 0 20px;
    line-height: 40px;
  }
}


/*===== All Section Title Style =====*/

.section-title .title {
  font-size: 50px;
  font-weight: 600;
  line-height: 55px;
  color: #121212;
}

@media (max-width: 767px) {
  .section-title .title {
    font-size: 30px;
    line-height: 40px;
  }
}

.section-title .text {
  font-size: 16px;
  line-height: 24px;
  color: #6c6c6c;
  margin-top: 24px;
}


/*===========================
    2.HEADER css 
===========================*/


/*===== NAVBAR ONE =====*/

.navgition {
  padding: 10px 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navgition.navgition-transparent {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.navgition.sticky {
  position: fixed;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navgition .navbar {
  position: relative;
  padding: 0;
}

.navgition .navbar .navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: #121212;
  margin: 5px 0;
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navgition .navbar .navbar-toggler.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}

.navgition .navbar .navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}

.navgition .navbar .navbar-toggler.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navgition .navbar .navbar-collapse {
    position: absolute;
    top: 116%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 8;
    padding: 10px 0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  }
}

@media (max-width: 767px) {
  .navgition .navbar .navbar-collapse {
    position: absolute;
    top: 116%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 8;
    padding: 10px 0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  }
}

.navgition .navbar .navbar-nav .nav-item {
  margin: 0 16px;
  position: relative;
}

.navgition .navbar .navbar-nav .nav-item a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  padding: 26px 0;
  color: #121212;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navgition .navbar .navbar-nav .nav-item a {
    padding: 10px 0;
    display: block;
  }
}

@media (max-width: 767px) {
  .navgition .navbar .navbar-nav .nav-item a {
    padding: 10px 0;
    display: block;
  }
}

.navgition .navbar .navbar-nav .nav-item a::before,
.navgition .navbar .navbar-nav .nav-item a::after {
  position: absolute;
  content: '';
  width: 8px;
  height: 4px;
  background-color: #0067f4;
  left: 50%;
  margin: 0 2px;
  bottom: 14px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navgition .navbar .navbar-nav .nav-item a::before,
  .navgition .navbar .navbar-nav .nav-item a::after {
    display: none;
  }
}

@media (max-width: 767px) {
  .navgition .navbar .navbar-nav .nav-item a::before,
  .navgition .navbar .navbar-nav .nav-item a::after {
    display: none;
  }
}

.navgition .navbar .navbar-nav .nav-item a::after {
  left: auto;
  right: 50%;
}

.navgition .navbar .navbar-nav .nav-item.active>a,
.navgition .navbar .navbar-nav .nav-item:hover>a {
  color: #0067f4;
}

.navgition .navbar .navbar-nav .nav-item.active>a::before,
.navgition .navbar .navbar-nav .nav-item.active>a::after,
.navgition .navbar .navbar-nav .nav-item:hover>a::before,
.navgition .navbar .navbar-nav .nav-item:hover>a::after {
  opacity: 1;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navgition .navbar .navbar-social {
    position: absolute;
    right: 70px;
    top: 7px;
  }
}

@media (max-width: 767px) {
  .navgition .navbar .navbar-social {
    position: absolute;
    right: 60px;
    top: 7px;
  }
}

.navgition .navbar .navbar-social span {
  font-size: 16px;
  font-weight: 700;
  color: #6c6c6c;
  line-height: 24px;
  margin-right: 14px;
}

.navgition .navbar .navbar-social ul li {
  display: inline-block;
  margin-right: 5px;
}

.navgition .navbar .navbar-social ul li a {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  color: #6c6c6c;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navgition .navbar .navbar-social ul li a:hover {
  color: #0067f4;
}

.header-hero {
  height: 100vh;
  max-height: 100%;
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-hero {
    height: 700px;
  }
}

@media (max-width: 767px) {
  .header-hero {
    height: 650px;
  }
}

.header-hero::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(rgba(232, 237, 255, 0.9), rgba(239, 254, 255, 0.9) 10%, rgba(254, 255, 244, 0.3) 68%, rgba(255, 255, 255, 0.12));
  background: -o-linear-gradient(rgba(232, 237, 255, 0.9), rgba(239, 254, 255, 0.9) 10%, rgba(254, 255, 244, 0.3) 68%, rgba(255, 255, 255, 0.12));
  background: linear-gradient(rgba(232, 237, 255, 0.9), rgba(239, 254, 255, 0.9) 10%, rgba(254, 255, 244, 0.3) 68%, rgba(255, 255, 255, 0.12));
}

.header-hero .header-content {
  padding-top: 195px;
  position: relative;
  z-index: 9;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-hero .header-content {
    padding-top: 130px;
  }
}

@media (max-width: 767px) {
  .header-hero .header-content {
    padding-top: 120px;
  }
}

.header-hero .header-content .header-title {
  font-size: 100px;
  line-height: 55px;
  padding-bottom: 20px;
  color: #121212;
  font-weight: 600;
}

@media (max-width: 767px) {
  .header-hero .header-content .header-title {
    font-size: 80px;
    line-height: 40px;
  }
}

.header-hero .header-content .text {
  font-size: 20px;
  line-height: 32px;
  color: #6c6c6c;
  margin-top: 16px;
}

@media (max-width: 767px) {
  .header-hero .header-content .text {
    font-size: 16px;
    line-height: 24px;
  }
}

.header-hero .header-content .header-btn {
  margin-top: 22px;
}

.header-hero .header-content .header-btn li {
  display: inline-block;
  margin: 10px 10px 0;
}

.header-hero .header-content .header-btn li a.main-btn {
  border-radius: 50px;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: 0;
  line-height: 50px;
}

a.main-btn:hover {
  color: #fff;
  background-image: -webkit-linear-gradient(left, #0067f4, #2bdbdc);
  background-image: -o-linear-gradient(left, #0067f4, #2bdbdc);
  background-image: linear-gradient(to right, #0067f4, #2bdbdc);
  background-position: right center;  
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.header-hero .header-content .header-btn li a.main-btn i {
  margin-left: 5px;
}

.header-hero .header-shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.header-hero .header-shape img {
  width: 100%;
}

.text.description {
  font-style: italic;
  font-size: 16px !important;
}